<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.provider.cloudprovider.mapper.UserProductMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.provider.cloudprovider.entity.UserProduct">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="product_name" property="productName" />
        <result column="product_num" property="productNum" />
        <result column="product_price" property="productPrice" />
        <result column="product_color" property="productColor" />
    </resultMap>


    <update id="deductionInventory">
        update user_product set product_num=#{num} where id=#{id} and user_id = #{userId}
    </update>

</mapper>
